<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <ul id="v-for-object" class="demo">
        <li v-for="todo in todos" v-if="!todo.isComplete">
            {{ todo.value }}
        </li>
    </ul>
    <script>
        var vm = new Vue({
            el: '#v-for-object',
            data:{
                todos:[
                    {value:100,isComplete:false},
                    {value:200,isComplete:true}
                ]
            }
        })
    </script>
</body>

</html>